registry=https://registry.npmjs.org/
@kui:registry=https://urm.nvidia.com/artifactory/api/npm/sw-ngc-unified-npm-proxy/
@kui-contrib:registry=https://urm.nvidia.com/artifactory/api/npm/sw-ngc-unified-npm-proxy/
